---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Is Robert Working?</title>
    <style>
      body {
        display: flex;
        font-family: sans-serif;
        justify-content: center;
        height: 100dvh;
        align-items: center;

	background-image: url(https://iili.io/JXhaHW7.png);
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
      }
      h1 {
        font-size: 72px;
      }
    </style>
	</head>
	<body>
		<img
		<h1>Maybe</h1>
	</body>
</html>
